<!DOCTYPE html>
<html lang="en"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--    НА БУДУЮЩЕЕ-->
<!--<form  th:action="@{/logining}"  method="get" action="#">-->
<!--    <p><input type="text" name="search" id="search" >-->
<!--        <input type="submit" value="поиск">-->
<!--</form>-->

<a href="/account/register" >Зарегистрироваться</a><br>
<a href="/r" >Войти(пока не работает)</a>
<a href="/account/list" >Список пользователей</a>
<a href="/drug/list" >Список лекарств</a>


</body>
</html>