<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/account/edit/{id} (id=${person.id})}" method="post" th:object="${person}">
   <label for="name">ИМЯ</label>
<input type="text" th:field="*{firstName}"    id="name"/><br>
<label for="last">Фамилия</label>
<input type="text" th:field="*{lastName}"  id="last"/><br>
<label for="login" >Логин</label>
<input type="text" th:field="*{login}"  id="login"/><br>
<label for="pas" >Пароль</label>
<input  type="text" th:field="*{password}"  id="pas"/><br>
<input type="submit" value="Cохранить">
</form>
<a href="/account/list" >Отмена</a>

</body>
</html>